.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.description-container {
  background-color: #f3f4f6;
  color: #333;
  overflow-y: auto; /* Allows scrolling */
  padding: 20px;
}

.code-container {
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

select, button, textarea {
  padding: 8px 15px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  outline: none;
}

button {
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e2e2e2;
}

textarea {
  flex-grow: 1;
  border: 1px solid #ccc;
}

.editor {
  height: 70vh;
  border: 1px solid #ccc;
}